* {

    background-color: black;
    padding: 0;
    margin: 0;
}

/* Баннер */

.main_banner{
    /* width: 100%; */
    border: 1px solid red;
    min-height: 525px;
    
}
.banner{
    background-image: url(../images/logon.png);
    
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid green;
    color: aqua;
    width: auto;
    min-height: 525px;
    max-height: 525px;
    margin: 0 auto;

}
.banner img{
  

    background-color: rgb(78, 75, 75);
}


header {
    background-color: #fff;
    border: 1px solid red;
    height: 100px;
}

.menu-wrapper {
    display: inline-block;
}

.menu-wrapper .menu__item {
    display: inline-block;

}